__pycache__/
diagrams/
dcd/tmp/
*.class
outcmaes/
runs/cmaes_*/
report/presentation.aux
report/presentation.bbl
report/presentation.bbl-SAVE-ERROR
report/presentation.bcf
report/presentation.bcf-SAVE-ERROR
report/presentation.blg
report/presentation.fdb_latexmk
report/presentation.fls
report/presentation.log
report/presentation.nav
report/presentation.out
report/presentation.pdf
report/presentation.run.xml
report/presentation.snm
report/presentation.synctex.gz
report/presentation.toc
report/presentation_contourtmp0.dat
report/presentation_contourtmp0.script
